@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        BuildEasy is a cloud-based construction management software application. We strive to make your project management effortless, one task at a time. 
        With BuildEasy's easy-to-use and collaborative software, you can manage projects at anytime, from anywhere, with any Internet-connected device.
    </p>

</article>

<aside>
    <h3>Quick Links</h3>
    <p>
        Navigate the site.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>